<div>
    <p>Hello, my name is <%= person.firstName %> <%= person.lastName %>.  I'm currently a student at San Diego Code School and am pursuing a career in SW development.</p>  
    <div>
        <strong>Skill Set:</strong>
        <ul>
            <li>HTML / CSS / Bootstrap / DOM API</li>
            <li>JQuery</li>
            <li>React</li>
            <li>JavaScript</li>
            <li>Java</li>
            <li>ExpressJS</li>
            <li>MySQL / MongoDB / Edis</li>
            <li>RESTful API</li>
            <li>GIT</li>
            <li>Unit level and end-to-end testing (Mocha / Chai / Nightmare)</li>
        </ul>
    </div>
</div>