<!DOCTYPE html>
<html lang="en">
<head>
    <% include header.ejs %>
</head>
<body>
  
<br>

<div class="container-fluid">
    <% include top-section.ejs %>
    <br><br>
    <strong>Coming soon...</strong>
</div>

</body>
</html>
