<h4>Ryan Liang</h4>
<p class="job-title">SW developer</p>

<ul class="nav nav-pills">
    <li class="active"><a href="/">Home</a></li>
    <li class="active"><a href="/resume">Resume</a></li>
    <li class="active"><a href="/projects">Coding projects</a></li>
    <li class="active"><a href="/contact">Contact</a></li>
</ul>