body {
  background: #136a8a;
  background: -webkit-linear-gradient(to left, #b3e6eb, #6281c9);
  background: linear-gradient(to left, #b3e6eb, #6281c9);
}

.job-title {
  font-size: 12px
}

a:link, a:visited {
  text-align: left;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(156, 180, 19);
}